<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
 -->

<mapper namespace="com.grandet.dao.websiteMapper">
    <resultMap id="website" type="com.grandet.domain.Website">
        <id column="website_id" property="id" jdbcType="INTEGER"/>
        <result column="website_name" property="name" jdbcType="VARCHAR"/>
        <result column="website_pic" property="pic" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getWebsite" parameterType="int" resultMap="website">
        SELECT * FROM website WHERE website_id = #{id}
    </select>

    <select id="getWebsiteByName" parameterType="String" resultMap="website">
        SELECT * FROM website WHERE website_name = #{name}
    </select>
    
    <insert id="addWebsite" parameterType="com.grandet.domain.Website">
        insert into website (website_name) values (#{name});
    </insert>
</mapper>